<div class="container">
    <h1 class="text-center">Angular Pagination Example</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: pageNumber, totalItems: total }">
                <td>{{ user.id }}</td>
                <td><img [src]="user.avatar" alt="{{ user.first_name }}" class="avatar"></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>